<div *ngIf="file; else elseBlock">
	<ngx-extended-pdf-viewer [src]="file"
		[showBookmarkButton]="false"
		[showFindButton]="false"
		[showOpenFileButton]="false"
		[showPagingButtons]="false"
		[showPropertiesButton]="false"
		[showRotateButton]="false"
		[showScrollingButton]="false"
		[showSecondaryToolbarButton]="false"
		[showSidebarButton]="false"
		[showZoomButtons]="false"
		[filenameForDownload]="fileName"
		useBrowserLocale="true"
		height="100vh">
	</ngx-extended-pdf-viewer>
</div>

<ng-template #elseBlock>Please select a tech teaser from the list in order to view its content.</ng-template>
